.wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.head{  
 background: linear-gradient(to right, #204477, #2069A2,#204477);
 height: 120px;
}
.head-left{
    margin-top: 13px;
}

.head-right{
	height: 120px;
	line-height:120px;
}
.head-right  a{
	color: #fff;
 }
 .head-right  a:hover{
	color: #fff;
 }
.head-right  li:first-child{
    margin-right:50px;
}
.head-right  li{
font-size: 33px;
font-weight: 500;
color: #D5F0FF;
}
.icon0{
	width: 40px;
	height: 33px;
	margin: -5px 5px;
	display: inline-block;	
	background: url(../image/home.png) no-repeat;	
  }
.icon{
  width: 40px;
  display: inline-block;
  height: 33px;	
  margin: -4px 5px;
  background: url(../image/back.png) no-repeat;	
}