<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/common.css" />
<link rel="stylesheet" href="../../css/head.css" />
<link rel="stylesheet" href="../../css/about.css" />
<link rel="stylesheet" href="../../css/footer.css"/>
<script src="../../js/jquery.min.js"></script>

</head>
<body>
<div class="wrapper">
  <div class="head">
    <header class="container  minw1360">
        <div class="head-left  fl"><img src="../../image/logo.png"/></div>
        <ul class="head-right  fr">
          <li class="fl"><a href="../home/home.html"><i class="icon0"></i>首页</a></li>
          <li class="fl  callback"><a><i class="icon"></i>返回</a></li>
        </ul>
    </header>
   </div> 
   <div class="main"> 
    <main style="height:100%;">
        <ul class="brandList">
            <li class="fl  brandbtn  active">资质认证</li>
            <li class="fl  brandbtn0">品牌荣誉</li>
        </ul>
        <div class="main-bg">
            <footer class="container minw1360">
                <ul class="footNav  container minw1360">
                 <li  class="fl">您的位置是:<span>首页>关于我们>荣誉资质>资质认证</span></li>
                 <li  class="fr  ">本页将在<span>120</span>秒后自动跳到首页<li>
                </ul>   
             </footer>
        </div>
        <div class="main-bg0"  style="display: none;">
            <footer class="container minw1360">
                <ul class="footNav  container minw1360">
                 <li  class="fl foottext">您的位置是:<span></span></li>
                 <li  class="fr  ">本页将在<span>120</span>秒后自动跳到首页<li>
                </ul>   
             </footer>
        </div>
    </div>
    </main>
 </div> 
</div>        
<script>
$(".brandbtn").click(function(){
    $(".mian-bg0").hide();
    $(".footNav .foottext span").text("");
    $(".main-bg").show();
    $(".brandbtn0").removeClass("active");
    $(this).addClass("active");
    $(".main-bg0").css("display","none");
});   
$(".brandbtn0").click(function(){
    $(".main-bg").hide();
    $(".footNav .foottext span").text("首页>关于我们>荣誉资质>品牌荣誉")
    $(".main-bg0").css("display","block");
    $(".brandbtn").removeClass("active")
    $(this).addClass("active")
}) 
</script>
<script src="../../js/util.js"></script>
<script>
  window.onload=function(){
    // time.callbackUrl();
  }  
  $(".callback").click(function(){
      window.history.go(-1) 
    })
  </script>
</body>
</html>
