<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" />
<link rel="stylesheet" href="../../css/common.css" />
<link rel="stylesheet" href="../../css/head.css" />
<link rel="stylesheet" href="../../css/about.css" />
<link rel="stylesheet" href="../../css/footer.css"/>
<script src="../../js/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
  <div class="head">
    <header class="container  minw1360">
        <div class="head-left  fl"><img src="../../image/logo.png"/></div>
        <ul class="head-right  fr">
          <li class="fl"><a href="../home/home.html"><i class="icon0"></i>首页</a></li>
          <li class="fl"><a href="../about/aboutlist.html"><i class="icon"></i>返回</a></li>
        </ul>
    </header>
   </div> 
   <div class="main"> 
    <video id="my-player" class="video-js"  style="width:100%; height:100%; object-fit: fill;position: relative;">
        <source src="../../video/Image.mp4" type="video/mp4"></source>
    </video>  
    <div class="mask">
      <h1>打造真实世界医疗数据平台</h1>
      <div  class="playBtn">
        <!-- <img src="../../image/play.png"/> -->
          <a href="../video/video.html"><img src="../../image/play.png"/></a>
      </div>
      <div class="moreBtn">
        <!-- <a class="more">点击查看更多</a> -->
      </div>
      <ul class="introdList  row">
          <li class="fl  col-md-6"><a href="../about/lzintroduct.html">依山科技简介</a></li>
          <li class="fl  col-md-6"><a href="../about/introduct.html">未来之城简介</a></li>
      </ul>
      <footer class="container minw1360" style="clear: both;">
        <ul>
         <li  class="fl">您的位置是:<span>首页>关于我们>公司简介</span></li>
         <li  class="fr">本页将在<span>120</span>秒后自动跳到首页<li>
        </ul>   
     </footer>
    </div>  
    </main>
 </div> 
</div>        
</body>
<script src="../../js/util.js"></script>
<script>
  window.onload=function(){
    time.callbackUrl();
  }  
  $(".callback").click(function(){
      window.history.go(-1) 
    })
  
  
  </script>
</html>
